body {
    background: url(background1.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
	position: absolute;
	top: 13rem;
	left: 37rem;
}

#form h1 {
    color: #000;
    text-align: center;
	margin-bottom: 30px;
}
label{
    margin-left: 20px;
    margin-bottom: 6px;
	font-size: 1rem;
}

#form button{
	margin: 15px 0 20px 100px;
	height: 30px;
	width: 80px;
	outline: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    border-radius: 1000px;
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
    transition: all .4 ease;
}


#form button:hover{
    background: #da6b1d;
    border: none;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control  input{
	height: 10px;
	width: 280px;
	padding: 0 5px;
	font-size: 13px;
    border-radius: .5rem;
    padding: 1rem;
    border-radius: 1000px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    padding: 1rem ;
    transition: all .4s ease;
    text-transform: none;
    margin-bottom: 1rem;
	margin-left: 15px;
	border: none;
	outline: none;
}


.input-control input:focus {
    outline: 0;
}

.input-control.success input{
    border-left: 7px solid green;
}

.input-control.error input{
    border-left: 7px solid red;
}

.input-control .error {
    color: red;
    font-size: 12px;
    height: 13px;
	margin-left: 14px;
	margin-top: -10px;
}

.link{
    margin-top: 20px;
    margin-left: 105px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    color: #000;
    transition: .5s;
	text-decoration: none;
}
.link:hover{
	
	color:rgb(255, 165, 55);
	border-radius: 1000px;
	border: none;
	text-decoration: underline;
}













@media (max-width:991px){
    html{
        font-size: 55%;
        
    }
    .container{
        padding: 1rem 2rem;
    }
}
@media (max-width:768px){
    .container #form{
        width: 300px;
        padding: 20px;
        background-color: whitesmoke;
        border-radius: 4px;
        font-size: 12px;
        position: relative;
        top: 19rem;
        left: 8rem;
    }
    .input-control  input{
        height: 10px;
        width: 280px;
        padding: 2rem;
        margin-bottom: 1rem;
        margin-left: 15px;
    }
    #form button{ 
        font-size: 1.9rem;
    }
    #form button:hover{
        background: #da6b1d;
        border: none;
    }
    label{
        font-size: 1.9rem;
    }
    
}

